.ld-btn {
  display: inline-block;
  color: var(--chili-btn-text-color);
  background-color: var(--chili-btn-bg-color);
  border-radius: var(--chili-btn-border-radius);
  border: var(--chili-btn-border-width) solid var(--chili-btn-border-color);
  font-size: var(--chili-btn-font-size);
  font-weight: var(--chili-btn-font-weight);
  padding-block: var(--chili-btn-padding-block);
  padding-inline: var(--chili-btn-padding-inline);
  line-height: var(--chili-btn-line-height);
  min-inline-size: var(--chili-btn-min-width);
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  position: relative;

  &:hover {
    background-color: var(--chili-btn-bg-color-hover);
    border-color: var(--chili-btn-border-color-hover);
    color: var(--chili-btn-text-color-hover);
  }

  .ld-loading {
    cursor: progress;
    &:hover {
      background-color: var(--chili-btn-bg-color);
      border-color: var(--chili-btn-bg-color);
    }
  }

  .ld-loading-icon {
    position: absolute;
    display: block;
    color: currentColor;
    width: var(--chili-btn-font-size);
    height: var(--chili-btn-font-size);
    left: calc(
      var(--chili-btn-padding-inline) / 2 - var(--chili-font-size) / 2
    );
    top: calc(
      var(--chili-btn-padding-block) + var(--chili-btn-line-height) / 2 -
        var(--chili-btn-font-size) / 2
    );
    animation: rotate 2s linear infinite;
  }
}

.ld-btn-disabled {
  background-color: var(--chili-btn-bg-color-disabled);
  border-color: var(--chili-btn-border-color-disabled);
  cursor: not-allowed;
  &:hover {
    background-color: var(--chili-btn-bg-color-disabled);
    border-color: var(--chili-btn-border-color-disabled);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
