.chili-calendar-standalone-wrapper {
  width: var(--chili-calendar-width);
}

.chili-calendar-wrapper {
  width: var(--chili-calendar-width);
  background-color: var(--chili-calendar-bg);
  box-shadow: var(--chili-calendar-box-shadow);
  border-radius: var(--chili-calendar-border-radius);
  position: absolute;
  z-index: var(--chili-calendar-z-index);
  padding: var(--chili-calendar-padding);
}

.chili-calendar-top {
  bottom: 100%;
}

.chili-calendar-right {
  right: 0;
}

.chili-calendar-standalone {
  position: static;
  width: 100%;
}

.chili-calendar-date {
  width: var(--chili-calendar-date-cell-size);
  height: var(--chili-calendar-date-cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--chili-calendar-date-font-color);
  border-radius: var(--chili-calendar-date-cell-border-radius);

  &:hover {
    background-color: var(--chili-calendar-bg-hover);
  }
}

.chili-calendar-date-active {
  background-color: var(--chili-calendar-bg-active);
}

.chili-calendar-date-day-off {
  color: var(--chili-calendar-day-off-color);
}

.chili-calendar-date-different-month {
  color: var(--chili-calendar-different-date-color);
}

.chili-calendar-date-selected {
  background-color: var(--chili-calendar-bg-selected);
  &:hover {
    background-color: var(--chili-calendar-bg-selected);
  }
}

.chili-calendar-date-disabled {
  color: var(--chili-calendar-disabled-color);
  cursor: not-allowed;

  &:hover {
    background-color: var(--chili-calendar-bg);
  }
}

.chili-calendar-date-today {
  font-weight: bold;
}

.chili-calendar-date-row {
  display: flex;
  justify-content: space-around;
}

.chili-calendar-footer {
  text-align: center;
  padding: var(--chili-calendar-footer-padding);
  cursor: pointer;
  color: var(--chili-calendar-footer-color);
  &:hover {
    color: var(--chili-calendar-footer-color-hover);
  }
}

.chili-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--chili-calendar-header-padding);
}

.chili-calendar-month-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--chili-calendar-month-cell-size);
  height: var(--chili-calendar-month-cell-size);
  cursor: pointer;
  border-radius: var(--chili-calendar-month-cell-border-radius);
  margin: var(--chili-calendar-month-cell-margin);
  &:hover {
    background-color: var(--chili-calendar-bg-hover);
  }
}

.chili-calendar-month-cell-active {
  background-color: var(--chili-calendar-bg-selected);
  &:hover {
    background-color: var(--chili-calendar-bg-selected);
  }
}

.chili-calendar-month-row {
  display: flex;
}

.chili-calendar-month-cell-disabled {
  color: var(--chili-calendar-disabled-color);
  cursor: not-allowed;

  &:hover {
    background-color: var(--chili-calendar-bg);
  }
}

.chili-calendar-next-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--chili-calendar-button-color);

  &:hover {
    color: var(--chili-calendar-button-color-hover);
  }
}

.chili-calendar-prev-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--chili-calendar-button-color);

  &:hover {
    color: var(--chili-calendar-button-color-hover);
  }
}

.chili-calendar-button-disabled {
  color: var(--chili-calendar-disabled-color);
  cursor: not-allowed;

  &:hover {
    color: var(--chili-calendar-disabled-color);
  }
}

.chili-calendar-title {
  color: var(--chili-calendar-header-color);
  font-size: var(--chili-calendar-header-font-size);
  cursor: pointer;

  &:hover {
    color: var(--chili-calendar-button-color-hover);
  }
}

.chili-calendar-title-disabled {
  color: var(--chili-calendar-disabled-color);
  cursor: not-allowed;

  &:hover {
    color: var(--chili-calendar-disabled-color);
  }
}

.chili-calendar-week-days-row {
  display: flex;
  justify-content: space-around;
}

.chili-calendar-week-day {
  font-size: var(--chili-calendar-week-day-font-size);
  color: var(--chili-calendar-week-day-color);
  width: var(--chili-calendar-date-cell-size);
  height: var(--chili-calendar-date-cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chili-calendar-year-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--chili-calendar-year-cell-size);
  height: var(--chili-calendar-year-cell-size);
  cursor: pointer;
  border-radius: var(--chili-calendar-year-cell-border-radius);
  margin: var(--chili-calendar-year-cell-margin);

  &:hover {
    background-color: var(--chili-calendar-bg-hover);
  }
}

.chili-calendar-year-cell-active {
  background-color: var(--chili-calendar-bg-selected);

  &:hover {
    background-color: var(--chili-calendar-bg-selected);
  }
}

.chili-calendar-year-cell-different-decade {
  color: var(--chili-calendar-different-date-color);
}

.chili-calendar-year-row {
  display: flex;
}

.chili-calendar-year-cell-disabled {
  color: var(--chili-calendar-disabled-color);
  cursor: not-allowed;

  &:hover {
    background-color: var(--chili-calendar-bg);
  }
}
