.chili-checkbox-label {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
}

.chili-checkbox-input {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;

  &:disabled + .chili-checkbox-label {
    cursor: not-allowed;
    color: var(--chili-checkbox-color-disabled);
  }
}

.chili-checkbox-icon {
  width: var(--chili-checkbox-size);
  height: var(--chili-checkbox-size);
  margin-inline-end: var(--chili-checkbox-margin-inline-end);
  margin-block-start: var(--chili-checkbox-margin-inline-end);
  flex-shrink: 0;
}

.chili-checkbox-invalid {
  color: var(--chili-color-danger);
}
