.chili-collapse-wrapper[open] {
  .chili-collapse-icon {
    transform: rotate(180deg);
  }
}

.chili-collapse-summary {
  border-radius: var(--chili-collapse-border-radius);
  border: var(--chili-collapse-border);
  padding-inline: var(--chili-collapse-summary-padding-inline);
  padding-block: var(--chili-collapse-summary-padding-block);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    border-color: var(--chili-collapse-border-color-hover);

    .chili-collapse-icon {
      color: var(--chili-collapse-border-color-hover);
    }
  }

  .chili-collapse-icon {
    transition: transform 0.2s linear;
    transform: rotate(0);
    color: var(--chili-collapse-border-color);
  }
}

.chili-collapse-content {
  padding-inline: var(--chili-collapse-content-padding-inline);
  padding-block: var(--chili-collapse-content-padding-block);
}
