.chili-daterange-wrapper {
  display: flex;
  justify-content: space-between;

  .chili-datepicker-wrapper {
    flex-grow: 1;
  }
}

.chili-daterange-delimiter {
  width: var(--chili-date-range-delimeter-width);
  min-width: var(--chili-date-range-delimeter-min-width);
  display: flex;
  justify-content: center;
  align-items: center;
}
