.chili-dropdownselect-wrapper {
  position: relative;

  .chili-input-element-wrapper {
    cursor: pointer;
  }
}

.chili-opened {
  transform: rotate(180deg);
}

.chili-closed {
  transform: rotate(0deg);
}
