.chili-loader-wrapper {
  position: relative;
  min-height: var(--chili-loader-wrapper-min-height);
}

.chili-loader-container {
  background-color: var(--chili-loader-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--chili-loader-container-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chili-loader-element {
  width: var(--chili-loader-size);
  height: var(--chili-loader-size);
  animation: var(--chili-loader-animation);
  color: var(--chili-loader-color);
  @keyframes r-to-left {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.chili-loader-fullscreen {
  background-color: var(--chili-loader-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--chili-loader-fullscreen-z-index);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chili-loader-global {
  overflow: hidden;
}
