.chili-numeric-range-wrapper {
  align-items: center;
  display: flex;

  & > .chili-numeric-wrapper {
    flex-grow: 1;
  }
}

.chili-numeric-range-delimiter {
  text-align: center;
  width: var(--chili-numeric-range-delimeter-width);
}
