.ld-progressbar-wrapper {
  background: var(--chili-progressbar-bg);
  height: var(--chili-progressbar-height);
  position: relative;
}

.ld-progressbar-fill {
  background: var(--chili-progressbar-bg-fill);
  transition: width 0.25s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 0;
}

.ld-progressbar-value {
  font-size: var(--chili-progressbar-value-font-size);
  color: var(--chili-progressbar-value-text-color);
}
