.ld-rating-wrapper {
  display: flex;
}

.ld-rating-item {
  padding: var(--chili-rating-icon-padding);
  width: var(--chili-rating-icon-width);
  cursor: pointer;
  color: var(--chili-rating-base-color);
}

.ld-filled {
  color: var(--chili-rating-active-color);
}

.ld-rating-disabled {
  cursor: not-allowed;
}
