.chili-switcher-handler {
  cursor: pointer;
  border-radius: var(--chili-switcher-handler-border-radius);
  transition: all 0.1s linear;
  height: var(--chili-switcher-handler-size);
  width: var(--chili-switcher-handler-size);
  border: var(--chili-switcher-handler-border);
  background: var(--chili-switcher-handler-bg);
}

.chili-switcher {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  background: var(--chili-switcher-wrapper-bg);
  border-radius: var(--chili-switcher-handler-border-radius);
  width: var(--chili-switcher-wrapper-width);

  &:hover .chili-switcher-handler {
    background: var(--chili-switcher-handler-bg-hovered);
  }
}

.chili-switcher-active {
  background-color: var(--chili-switcher-active-color);

  .chili-switcher-handler {
    transform: translateX(100%);
    background: var(--chili-switcher-handler-bg);
  }

  &:hover {
    .chili-switcher-handler {
      background-color: var(--chili-switcher-handler-bg-hovered);
    }
  }
}

.chili-switcher-disabled {
  pointer-events: none;
  cursor: not-allowed;
  background: var(--chili-switcher-wrapper-bg-disabled);
  .chili-switcher-handler {
    background-color: var(--chili-switcher-handler-bg-disabled);
  }
}

.chili-switcher-active.chili-switcher-disabled {
  background-color: var(--chili-switcher-handler-bg-disabled);
  .chili-switcher-handler {
    background-color: var(--chili-switcher-handler-bg-disabled);
  }
}

.chili-switcher-label:not(:empty) {
  margin-inline-start: var(--chili-switcher-label-margin-inline-start);
  cursor: pointer;
}
