.ld-tags-wrapper {
  display: flex;
}

.ld-tag {
  display: flex;
  align-items: center;
  min-inline-size: var(--chili-tag-min-inline-size);
  padding: var(--chili-tag-padding);
  margin-inline-end: var(--chili-tag-margin-inline-end);
  block-size: var(--chili-tag-block-size);
  background-color: var(--chili-tag-bg);
  border: var(--chili-tag-border);
  border-radius: var(--chili-tag-border-radius);
  transition: var(--chili-tag-transition);
  &:hover {
    .ld-tag-icon {
      color: var(--chili-tag-icon-color-hover);
    }
  }
}

.ld-tag-icon {
  color: var(--chili-tag-icon-color);
  padding: var(--chili-tag-icon-padding);
  cursor: pointer;
}
