.ld-tooltip-wrapper {
  display: inline-block;
}

.ld-tooltip {
  position: absolute;
  z-index: var(--chili-tooltip-z-index);
  max-width: var(--chili-tooltip-max-width);
  min-width: var(--chili-tooltip-min-width);
  padding: var(--chili-tooltip-padding);
  color: var(--chili-tooltip-text-color);
  background-color: var(--chili-tooltip-bg-color);
  border-radius: var(--chili-tooltip-border-radius);
  transition: var(--chili-tooltip-transition);
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}

.ld-tooltip.ld-top {
  margin-top: calc(-1 * var(--chili-tooltip-arrow-length));
  transform: translate(-50%, -100%);

  &::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: var(--chili-tooltip-arrow-length)
      var(--chili-tooltip-arrow-width) 0;
    border-top-color: var(--chili-tooltip-bg-color);
  }
}

.ld-tooltip.ld-bottom {
  margin-top: var(--chili-tooltip-arrow-length);
  transform: translateX(-50%);

  &::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 var(--chili-tooltip-arrow-width)
      var(--chili-tooltip-arrow-length);
    border-bottom-color: var(--chili-tooltip-bg-color);
  }
}

.ld-tooltip.ld-left {
  margin-left: calc(-1 * var(--chili-tooltip-arrow-length));
  transform: translate(-100%, -50%);

  &::after {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-width: var(--chili-tooltip-arrow-width) 0
      var(--chili-tooltip-arrow-width) var(--chili-tooltip-arrow-length);
    border-left-color: var(--chili-tooltip-bg-color);
  }
}

.ld-tooltip.ld-right {
  margin-left: var(--chili-tooltip-arrow-length);
  transform: translateY(-50%);

  &::after {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-width: var(--chili-tooltip-arrow-width)
      var(--chili-tooltip-arrow-length) var(--chili-tooltip-arrow-width) 0;
    border-right-color: var(--chili-tooltip-bg-color);
  }
}
