:root {
  /* base variables
  base variables must not be used in CSS classes directly
  use base variables in component variables only */
  --chili-border-radius: 4px;
  --chili-font-size: 0.875rem;
  --chili-line-height: 1.5rem;
  --chili-font-weight: 800;
  --chili-padding-block: 0.4rem;
  --chili-padding-inline: 1rem;

  --chili-color-danger: #dc2626; /* tailwind red 600 */
  --chili-color-success: #15803d; /* tailwind green 700 */

  --chili-font-color: #09090b; /* tailwind neutral 950 */
  --chili-font-color-hihglight: #7f1d1d; /* tailwind neutral 950 */

  /* borders and clickable elements */
  --chili-base-color: #a3a3a3; /* tailwind neutral 400 */
  --chili-base-color-hover: #09090b; /* tailwind neutral 950 */
  --chili-base-color-disabled: #a3a3a3; /* tailwind neutral 400 */

  /* component elements backgrounds */
  --chili-bg-color: white;
  --chili-bg-color-hover: #e5e5e5; /* tailwind neutral 200 */
  --chili-bg-color-selected: #a3a3a3; /* tailwind neutral 400 */
  --chili-bg-color-active: #f5f5f5; /* tailwind neutral 100 */
  --chili-bg-color-disabled: #e5e5e5; /* tailwind neutral 200 */

  /* inverted font color elemets (buttons, tooltips etc.) */
  --chili-font-inverted-color: white;
  --chili-bg-inverted-color: #737373; /* tailwind neutral 500 */
  --chili-bg-inverted-color-hover: #a3a3a3; /* tailwind neutral 400 */
  --chili-bg-inverted-color-selected: #525252; /* tailwind neutral 600 */
  --chili-bg-inverted-color-disabled: #d4d4d4; /* tailwind neutral 300 */

  /* component variables
  do not use component variables in other component variables */
  --chili-btn-font-size: var(--chili-font-size);
  --chili-btn-font-weight: var(--chili-font-weight);
  --chili-btn-border-radius: var(--chili-border-radius);
  --chili-btn-min-width: 0;
  --chili-btn-line-height: var(--chili-line-height);
  --chili-btn-text-color: var(--chili-font-inverted-color);
  --chili-btn-border-width: 2px;
  --chili-btn-padding-inline: var(--chili-padding-inline);
  --chili-btn-padding-block: calc(
    var(--chili-padding-block) - var(--chili-btn-border-width)
  );
  --chili-btn-border-color: var(--chili-bg-inverted-color);
  --chili-btn-bg-color: var(--chili-bg-inverted-color);
  --chili-btn-border-color-disabled: var(--chili-bg-inverted-color-disabled);
  --chili-btn-bg-color-disabled: var(--chili-bg-inverted-color-disabled);
  --chili-btn-text-color-hover: var(--chili-font-inverted-color);
  --chili-btn-border-color-hover: var(--chili-bg-inverted-color-hover);
  --chili-btn-bg-color-hover: var(--chili-bg-inverted-color-hover);

  --chili-btn-group-active-color: var(--chili-bg-inverted-color-selected);
  --chili-btn-group-active-text-color: var(--chili-font-inverted-color);
  --chili-btn-group-border-width: 2px;
  --chili-btn-group-border-inline-width: 1px;

  --chili-calendar-width: 290px;
  --chili-calendar-bg: var(--chili-bg-color);
  --chili-calendar-box-shadow: 0 1rem 2rem 0 var(--chili-base-color);
  --chili-calendar-border-radius: var(--chili-border-radius);
  --chili-calendar-z-index: 2;
  --chili-calendar-padding: 10px;
  --chili-calendar-header-padding: 10px;
  --chili-calendar-footer-padding: 10px;
  --chili-calendar-date-cell-size: 32px;
  --chili-calendar-date-cell-border-radius: 50%;
  --chili-calendar-date-font-color: var(--chili-font-color);
  --chili-calendar-bg-hover: var(--chili-bg-color-hover);
  --chili-calendar-bg-active: var(--chili-bg-color-active);
  --chili-calendar-day-off-color: var(--chili-font-color-hihglight);
  --chili-calendar-different-date-color: var(--chili-base-color);
  --chili-calendar-bg-selected: var(--chili-bg-color-selected);
  --chili-calendar-disabled-color: var(--chili-base-color-disabled);
  --chili-calendar-disabled-bg-hover: var(--chili-bg-color);
  --chili-calendar-header-font-size: 1rem;
  --chili-calendar-header-color: var(--chili-base-color);
  --chili-calendar-header-color-hover: var(--chili-base-color-hover);
  --chili-calendar-footer-color: var(--chili-base-color);
  --chili-calendar-footer-color-hover: var(--chili-base-color-hover);
  --chili-calendar-month-cell-size: 70px;
  --chili-calendar-month-cell-border-radius: 4px;
  --chili-calendar-month-cell-margin: 2px;
  --chili-calendar-year-cell-size: 70px;
  --chili-calendar-year-cell-border-radius: 4px;
  --chili-calendar-year-cell-margin: 2px;
  --chili-calendar-button-color: var(--chili-base-color);
  --chili-calendar-button-color-hover: var(--chili-base-color-hover);
  --chili-calendar-week-day-color: var(--chili-base-color);
  --chili-calendar-week-day-font-size: 0.75rem;

  --chili-checkbox-size: 1rem;
  --chili-checkbox-margin-inline-end: 0.5rem;
  --chili-checkbox-color-disabled: var(--chili-base-color-disabled);

  --chili-collapse-border-radius: var(--chili-border-radius);
  --chili-collapse-border-color: var(--chili-base-color);
  --chili-collapse-border: 1px solid var(--chili-base-color);
  --chili-collapse-summary-padding-inline: 1rem;
  --chili-collapse-summary-padding-block: 0.5rem;
  --chili-collapse-content-padding-inline: 1rem;
  --chili-collapse-content-padding-block: 1rem;
  --chili-collapse-border-color-hover: var(--chili-base-color-hover);
  --chili-collapse-bg-color-disabled: var(--chili-bg-color-disabled);
  --chili-collapse-icon-trabsition: transform 0.2s linear;

  --chili-datepicker-disabled-bg: var(--chili-bg-color-disabled);

  --chili-date-range-delimeter-width: 10%;
  --chili-date-range-delimeter-min-width: 2rem;

  --chili-drop-down-suggestion-padding-inline: var(--chili-padding-inline);
  --chili-drop-down-suggestion-padding-block: 0.5rem;
  --chili-drop-down-suggestion-border-radius: var(--chili-border-radius);
  --chili-drop-down-suggestion-bg: var(--chili-bg-color);
  --chili-drop-down-suggestion-bg-hover: var(--chili-bg-color-hover);
  --chili-drop-down-suggestion-bg-selected: var(--chili-bg-color-selected);
  --chili-drop-down-suggestion-bg-highlighted: var(--chili-bg-color-hover);
  --chili-drop-down-suggestion-container-border-width: 1px;
  --chili-drop-down-suggestion-container-border-color: var(--chili-bg-color);
  --chili-drop-down-suggestion-container-border-radius: var(
    --chili-border-radius
  );
  --chili-drop-down-suggestion-container-max-block-size: 200px;
  --chili-drop-down-suggestion-container-nodata-block-size: 80px;
  --chili-drop-down-suggestion-container-box-shadow: 0px 3px 10px
    var(--chili-base-color);
  --chili-drop-down-suggestion-container-margin-top: 3px;
  --chili-drop-down-no-data-color: var(--chili-base-color);

  --chili-input-font-size: var(--chili-font-size);
  --chili-input-line-height: var(--chili-line-height);
  --chili-input-font-weight: var(--chili-font-weight);
  --chili-input-text-color: var(--chili-font-color);
  --chili-input-border-color: var(--chili-base-color);
  --chili-input-border-color-hover: var(--chili-base-color-hover);
  --chili-input-border-radius: var(--chili-border-radius);
  --chili-input-border-width: 1px;
  --chili-input-padding-block: calc(
    var(--chili-padding-block) - var(--chili-input-border-width)
  );
  --chili-input-padding-inline: var(--chili-padding-inline);
  --chili-input-close-icon-color: var(--chili-base-color);
  --chili-input-close-icon-color-hover: var(--chili-base-color);
  --chili-input-close-icon-size: 2.25rem;
  --chili-input-close-icon-padding: 0.5rem;
  --chili-input-close-icon-border-radius: var(--chili-border-radius);
  --chili-input-bg-color: var(--chili-bg-color);
  --chili-input-element-bg-color: transparent;
  --chili-input-bg-color-disabled: var(--chili-bg-color-disabled);
  --chili-input-placeholder-color: var(--chili-base-color);

  --chili-invalid-message-color: var(--chili-color-danger);

  --chili-loader-wrapper-min-height: 200px;
  --chili-loader-bg-color: rgba(255, 255, 255, 0.8);
  --chili-loader-size: 30px;
  --chili-loader-animation: r-to-left 2s linear infinite;
  --chili-loader-color: var(--chili-base-color);
  --chili-loader-fullscreen-z-index: 10100;
  --chili-loader-container-border-radius: var(--chili-border-radius);

  --chili-modal-wrapper-z-index: 10000;
  --chili-modal-wrapper-bg: rgba(0, 0, 0, 0.6);
  --chili-modal-wrapper-backdrop-filter: blur(3px);
  --chili-modal-z-index: 10002;
  --chili-modal-top: 64px;
  --chili-modal-border-radius: 5px;
  --chili-modal-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  --chili-modal-cross-right: -20px;
  --chili-modal-cross-top: 15px;
  --chili-modal-cross-size: 35px;
  --chili-modal-cross-color: var(--chili-bg-color);
  --chili-modal-body-bg: var(--chili-bg-color);
  --chili-modal-border: 1px solid #e7e5e4; /* tw-stone-200 */
  --chili-modal-heading-padding: 25px 30px;
  --chili-modal-footer-padding: 25px 30px;
  --chili-modal-body-padding: 15px 30px;
  --chili-modal-heading-font-size: 1.5rem;
  --chili-modal-heading-font-weight: 600;
  --chili-modal-heading-bg: var(--chili-bg-color);
  --chili-modal-footer-bg: var(--chili-bg-color);
  --chili-modal-width: 500px;
  --chili-modal-max-width: 90%;

  --chili-multiselect-placeholder-color: var(--chili-base-color);
  --chili-multiselect-placeholder-padding: 3px 0 0 var(--chili-padding-inline);
  --chili-multiselect-tags-container-padding: 2px;
  --chili-multiselect-tag-margin: 4px;
  --chili-multiselect-tags-union-margin: var(--chili-multiselect-tag-margin)
    1rem;
  --chili-multiselect-input-padding: 0 0 0 10px;
  --chili-multiselect-input-height: 30px;
  --chili-multiselect-bg-color: white;
  --chili-multiselect-border: 1px solid var(--chili-base-color);
  --chili-multiselect-border-radius: var(--chili-border-radius);
  --chili-multiselect-clear-icon-top: 4px;
  --chili-multiselect-clear-icon-right: 4px;
  --chili-multiselect-clear-icon-padding: 3px;
  --chili-multiselect-clear-icon-color: var(--chili-base-color);
  --chili-multiselect-clear-icon-color-hover: var(--chili-base-color-hover);

  --chili-numeric-arrow-width: 2rem;
  --chili-numeric-arrow-padding-inline: 0.5rem;

  --chili-numeric-range-delimeter-width: 2rem;

  --chili-pagination-button-margin-inline: 5px;
  --chili-pagination-button-size: 24px;
  --chili-pagination-button-color: var(--chili-font-color);
  --chili-pagination-button-color-hover: var(--chili-font-color);
  --chili-pagination-control-color: var(--chili-base-color);
  --chili-pagination-control-color-hover: var(--chili-font-color);
  --chili-pagination-number-selected-font-size: 1.1rem;
  --chili-pagination-number-selected-color: var(--chili-font-color);
  --chili-pagination-options-dropdown-width: 100px;
  --chili-pagination-options-label-color: var(--chili-font-color);
  --chili-pagination-options-label-margin-inline-end: 1rem;
  --chili-pagination-info-label-color: var(--chili-font-color);
  --chili-pagination-disabled-color: var(--chili-base-color-disabled);

  --chili-password-rule-text-color: var(--chili-font-color-hihglight);

  --chili-progressbar-bg: var(--chili-bg-inverted-color-disabled);
  --chili-progressbar-bg-fill: var(--chili-color-success);
  --chili-progressbar-height: 20px;
  --chili-progressbar-value-text-color: var(--chili-font-inverted-color);
  --chili-progressbar-value-font-size: 12px;

  --chili-radio-color: var(--chili-base-color);
  --chili-radio-color-hover: var(--chili-base-color-hover);
  --chili-radio-color-disabled: var(--chili-bg-color-disabled);
  --chili-radio-contrast-color: var(--chili-bg-color);
  --chili-radio-active-color: var(--chili-base-color);
  --chili-radio-active-color-hover: var(--chili-base-color-hover);
  --chili-radio-active-color-disabled: var(--chili-bg-color-disabled);
  --chili-radio-active-contrast-color: var(--chili-bg-color);

  --chili-rating-base-color: var(--chili-base-color);
  --chili-rating-active-color: var(--chili-font-color);
  --chili-rating-icon-width: 2rem;
  --chili-rating-icon-padding: 2px;

  --chili-switcher-active-color: var(--chili-color-success);
  --chili-switcher-handler-bg: var(--chili-bg-color);
  --chili-switcher-handler-bg-hovered: var(--chili-bg-color);
  --chili-switcher-handler-bg-disabled: var(--chili-base-color);
  --chili-switcher-handler-border: 1px solid var(--chili-base-color);
  --chili-switcher-handler-border-radius: 10px;
  --chili-switcher-handler-size: 17px;
  --chili-switcher-wrapper-bg: var(--chili-base-color);
  --chili-switcher-wrapper-bg-disabled: var(--chili-bg-color-disabled);
  --chili-switcher-wrapper-width: 34px;
  --chili-switcher-label-margin-inline-start: 0.5rem;

  --chili-tabs-border-bottom: 1px solid var(--chili-base-color);
  --chili-tabs-tab-padding: 9px 14px;
  --chili-tabs-tab-text-color-hover: var(--chili-base-color-hover);
  --chili-tabs-tab-active-border: 3px solid var(--chili-base-color);
  --chili-tabs-disabled-color: var(--chili-base-color);
  --chili-tabs-arrow-color: var(--chili-base-color);
  --chili-tabs-arrow-color-hover: var(--chili-base-color-hover);
  --chili-tabs-arrow-shadow: 0px 0px 5px 2px;
  --chili-tabs-arrow-size: 1.5rem;
  --chili-tabs-arrow-top: 10px;
  --chili-tabs-arrow-padding-inner: 2px;
  --chili-tabs-arrow-bg: var(--chili-bg-color);

  --chili-tag-min-inline-size: 3rem;
  --chili-tag-block-size: 1.75rem;
  --chili-tag-padding: 2px 2px 2px 16px;
  --chili-tag-margin-inline-end: 8px;
  --chili-tag-border-color: var(--chili-base-color);
  --chili-tag-border: 1px solid var(--chili-base-color);
  --chili-tag-border-radius: var(--chili-border-radius);
  --chili-tag-bg: var(--chili-bg-color-active);
  --chili-tag-icon-color: var(--chili-base-color);
  --chili-tag-icon-padding: 3px;
  --chili-tag-icon-color-hover: var(--chili-base-color-hover);
  --chili-tag-transition: 250ms ease-out;

  --chili-textarea-height: 120px;
  --chili-textarea-padding: 1rem var(--chili-padding-inline);
  --chili-textarea-border: 1px solid var(--chili-base-color);
  --chili-textarea-border-color-hover: var(--chili-base-color-hover);
  --chili-textarea-border-radius: var(--chili-border-radius);

  --chili-tooltip-z-index: 10070;
  --chili-tooltip-max-width: 280px;
  --chili-tooltip-min-width: 50px;
  --chili-tooltip-text-color: var(--chili-font-inverted-color);
  --chili-tooltip-bg-color: var(--chili-bg-inverted-color-selected);
  --chili-tooltip-border-radius: var(--chili-border-radius);
  --chili-tooltip-transition: opacity 0.2s;
  --chili-tooltip-padding: 0.5rem 1rem;
  --chili-tooltip-arrow-length: 7px;
  --chili-tooltip-arrow-width: 4px;
}
