.chili-suggestion-item {
  padding-inline: var(--chili-drop-down-suggestion-padding-inline);
  padding-block: var(--chili-drop-down-suggestion-padding-block);
  margin: 2px;
  border-radius: var(--chili-drop-down-suggestion-border-radius);
  cursor: pointer;

  &:hover {
    background-color: var(--chili-drop-down-suggestion-bg-hover);
  }
}

.chili-suggestion-highlighted {
  background-color: var(--chili-drop-down-suggestion-bg-highlighted);
  &:hover {
    background-color: var(--chili-drop-down-suggestion-bg-hover);
  }
}

.chili-suggestion-selected {
  background-color: var(--chili-drop-down-suggestion-bg-selected);
  &:hover {
    background-color: var(--chili-drop-down-suggestion-bg-selected);
  }
}

.chili-suggestion-list {
  max-block-size: var(--chili-drop-down-suggestion-container-max-block-size);
  overflow-x: hidden;
  overflow-y: auto;
}

.chili-suggestion-wrapper {
  background-color: var(--chili-drop-down-suggestion-bg);
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  border: var(--chili-drop-down-suggestion-container-border-width) solid
    var(--chili-drop-down-suggestion-container-border-color);
  border-radius: var(--chili-drop-down-suggestion-container-border-radius);
  margin-top: var(--chili-drop-down-suggestion-container-margin-top);
  box-shadow: var(--chili-drop-down-suggestion-container-box-shadow);
}

.chili-pos-top {
  top: auto;
  bottom: 100%;
}

.chili-nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: var(--chili-drop-down-suggestion-container-nodata-block-size);
  color: var(--chili-drop-down-no-data-color);
}
