/* helpers for components with input fields */

.chili-danger {
  border-color: var(--chili-color-danger);
  &:hover {
    border-color: var(--chili-color-danger);
  }
}

.chili-disabled {
  cursor: not-allowed;
  background-color: var(--chili-input-bg-color-disabled);
  color: var(--chili-font-color-disabled);

  &:hover {
    border-color: var(--chili-input-border-color);
  }

  .chili-required {
    border-color: var(--chili-input-border-color);
  }

  .chili-input-element {
    background-color: var(--chili-input-bg-color-disabled);
    color: var(--chili-font-color-disabled);
  }

  .chili-input-icon {
    background-color: var(--chili-input-bg-color-disabled);
    color: var(--chili-input-border-color);
    cursor: not-allowed;

    &:hover {
      color: var(--chili-input-border-color);
    }
  }
}

.chili-focused {
  border-color: var(--chili-input-border-color-hover);

  &:hover {
    border-color: var(--chili-input-border-color-hover);
  }
}
