.chili-input-element {
  font-size: var(--chili-input-font-size);
  line-height: var(--chili-input-line-height);
  padding-block: var(--chili-input-padding-block);
  padding-inline: var(--chili-input-padding-inline);
  border: none;
  border-radius: var(--chili-input-border-radius);
  flex-grow: 2;
  cursor: inherit;
  inline-size: 100%;
  outline: none;
  background-color: var(--chili-input-element-bg-color);
}

.chili-input-element::placeholder {
  color: var(--chili-input-placeholder-color);
}

.chili-input-element-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--chili-input-text-color);
  border: var(--chili-input-border-width) solid var(--chili-input-border-color);
  border-radius: var(--chili-input-border-radius);
  background-color: var(--chili-input-bg-color);

  &:hover {
    border-color: var(--chili-input-border-color-hover);
  }
}

.chili-input-icon {
  color: var(--chili-input-close-icon-color);
  padding: var(--chili-input-close-icon-padding);
  block-size: 100%;
  inline-size: var(--chili-input-close-icon-size);
  border-radius: var(--chili-input-close-icon-border-radius);
  cursor: pointer;

  &:hover {
    color: var(--chili-input-close-icon-color-hover);
  }
}
